
[data-color-theme=BLUE_THEME] {
    --color-primary: #00A1FF;
    --color-secondary: #8965e5;
    --color-primary-emphasis: #0091e5;
    --color-secondary-emphasis: #7c57d9;
    --color-lightprimary: #00a1ff20;
    --color-lightsecondary: #8965e520;
}
:root {
    --color-info: #46caeb;
    --color-success: #00ceb6;
    --color-warning: #ffb900;
    --color-error: #ff6692;
    --color-lightsuccess: #00ceb625;
    --color-lighterror: #ff669230;
    --color-lightinfo: #46caeb25;
    --color-lightwarning: #ffb90025;
    --color-white: #fff;
    --color-dark: #111c2d;
    --color-border: #e0e6eb;
    --color-bordergray: #cfd6db;
    --color-darkborder: #333f55;
    --color-link: #2a3547;
    --color-muted: #eff4fa;
    --color-darkmuted: #2a3851;
    --color-darklink: #7b8893;
    --color-lightgray: #f8fafd;
    --color-lighthover: #f6f9fc;
    --color-darkgray: #1a2537;
    --color-error-emphasis: #d9577c;
    --color-warning-emphasis: #d9941a;
    --color-success-emphasis: #10bd9d;
    --color-info-emphasis: #3cacc8;
    --color-surface-ld: #fff;
}