<div
  class="sidenav"
  [class.sidenav-collapsed]="openSideBar()"
>
  <div class="logo-container">
    <button class="logo" (click)="toggleCollapse()"></button>
    @if (!openSideBar()) {
      <div class="logo-text">Tracker</div>
      <button class="btn-close" (click)="closeSidenav()">
        <i class="fal fa-times close-icon"></i>
      </button>
    }
  </div>
  <div class="sidenav-nav">
    @for (item of items(); track $index) {
      <li class="sidenav-nav-item">
        <a
          class="sidenav-nav-link"
          [routerLink]="item.href"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          @if (!openSideBar()) {
            <span class="sidenav-link-text">{{ item.label }}</span>
          }
        </a>
      </li>
    }
  </div>
</div>